<!-- первая часть с лоадером-->
<!--<div class="row">
    <div class="col-md-8">

        <div ng-if="!userListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>

        <div class="list-group" ng-if="userListLoaded">
            <a href="#!/users/{{singleUser.id }}" class="list-group-item" ng-repeat="singleUser in users">

                <h4>
                    {{singleUser.username | uppercase }}
                </h4>

                <p>
                    {{singleUser.name }}
                </p>

            </a>
        </div>

    </div>
    <div class="col-md-4">

        <div ng-if="!postListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>

        <div class="list-group" ng-if="postListLoaded">
            <div class="list-group-item" ng-repeat="singlePost in posts">

                <p>
                    {{singlePost.title }}
                </p>

                </a>
            </div>

        </div>
    </div>-->


<!--//для дополнительного задания-->
    <div ng-if="!allDataLoaded">
        <span class="glyphicon glyphicon-refresh"></span>
        Loading...
    </div>
    <div class="row" ng-if="allDataLoaded">
        <div class="col-md-8">


            <div class="list-group">
                <a href="#!/users/{{singleUser.id }}" class="list-group-item" ng-repeat="singleUser in users">

                    <h4>
                        {{singleUser.username | uppercase }}
                    </h4>

                    <p>
                        {{singleUser.name }}
                    </p>

                </a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="singlePost in posts">

                    <p>
                        {{singlePost.title }}
                    </p>

                    </a>
                </div>

            </div>
        </div>
